<script type="text/ng-template" id="modal.html">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{selectedRow.date}}</h4> </div>
                <div class="modal-body">
                    <canvas id="modalbar" class="chart chart-bar" chart-data="modaldata" chart-labels="modallabels" chart-series="modalseries" chart-colors="colors" chart-options="modaloptions"> </canvas>
                </div>
                <div class="modal-footer"> </div>
            </div>
        </div>
    </div>
</script>