<div style="width:60%; margin-left:auto; margin-right:auto; background-color:rgba(255,255,255,0.2); border-radius:4px; padding-top:20px; padding-bottom:20px; margin-bottom:20px;">
    <div style="width:95%; margin-left:auto; margin-right:auto;">
        <div class="btn-group dropup">
            <a type="button" id="statsbtn" class="btn primary" href="#/" style="text-decoration:none;"> <span class="glyphicon glyphicon-arrow-left"></span> Back to Previous </a>
        </div>
        <div style="text-align:center; margin-top:10px; margin-bottom:10px;">
            <h4>Statistics for "{{result.title}}"</h4> </div>
        <br>
    <!--    same as home page-->
        <div class="textcenter topelement"><button class="btn primary" id="visualBtn">Start Visualization</button></div>
        <div id="visualGroup">
            <form id="visualForm" novalidate>
                <div class="formlable">Sort Data By</div>
                <div>
                    <select class="form-control" ng-model="sortBy">
                        <option selected value="">Default: Date Descending</option>
                        <option value="dateViewedDesc">Date - Descending</option>
                        <option value="dateViewedAsc">Date - Ascending</option>
                        <option value="internalView">Internal Views</option>
                        <option value="externalView">External Views</option>
                        <option value="totalView">Total View</option>
                        <option value="bounceRate"> Bounce Rate</option>
                    </select>
                </div>
                <div class="formlable">Select Field to Visualize</div>
                <div>
                    <select class="form-control" ng-model="fieldToDraw">
                        <option selected value="">Default: Internal Views</option>
                        <option value="internalView">Internal Views</option>
                        <option value="externalView">External Views</option>
                        <option value="totalView">Total View</option>
                        <option value="bounceRate"> Bounce Rate</option>
                    </select>
                </div>    
                <div class="formlable">Date Start</div>
                <div>
                    <input type="date" class="form-control" ng-model="dateStart" />
                </div>
                <div class="formlable">Date End</div>
                <div>
                    <input type="date" class="form-control" ng-model="dateEnd" />
                </div>
                <div class="textcenter">     
                <label class="btn-group" uib-dropdown is-open="status.isopen">
                        <button type="button" class="btn btn-sm primary" uib-dropdown-toggle ng-disabled="disabled" style="margin-top:0; height:33px;"> Generate Visuals &nbsp;<span class="caret"></span> </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem"><a href="" ng-click="newDataset()">Table</a></li>
                            <li class="divider"></li>
                            <li role="menuitem"><a href="" ng-click="newChart('bar')">Bar Chart</a></li>
                            <li class="divider"></li>
                            <li role="menuitem"><a href="" ng-click="newChart('line')">Line Chart</a></li>
                            <li class="divider"></li>
                            <li role="menuitem"><a href="">Other Items</a></li>
                        </ul>
                    </label>
                </div>    
            </form>    
        </div>
        <br>
        <div style="width:40%; margin-left:30%;"></div>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th> Date </th>
                    <th> Total Views </th>
                    <th> Internal Views </th>
                    <th> External Views </th>
                    <th> Bounce Rate </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in newData | beginWith:(currentPage - 1) * tableSize | limitTo:tableSize">
                    <td> {{row.dateViewed | date}} </td>
                    <td> {{row.internalView + row.externalView}} </td>
                    <td> {{row.internalView}} </td>
                    <td> {{row.externalView}} </td>
                    <td> {{row.bounceRate}} </td>
                </tr>
            </tbody>
        </table>
        <div class="topelement textcenter">
            <ul id="pagination" uib-pagination total-items="newData.length" ng-model="currentPage" items-per-page="tableSize" max-size="5" class="pagination" boundary-link-numbers="true" rotate="false" ng-show="newData.length > 10"></ul>
        </div>
<!--
        <div ng-show="clicked">
             <div class="textcenter"><b>{{series[0]}}</b></div>
        </div>    
-->
        <div ng-show="lineClicked">
            <br/>
            <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-colors="colors" chart-click="onClick"> </canvas>
        </div>
        <div ng-show="barClicked">
            <br/>
            <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-colors="colors" chart-click="onClick"> </canvas>
        </div>
    </div>
</div>